export * from './${entity}.model';
export * from './${entity}.api';
export { ${ENTITY}List } from './${entity}-list';
export { ${ENTITY}Table } from './${entity}-table';
export { ${ENTITY}Form } from './${entity}-form';
export { ${ENTITY}Page } from './${entity}-page';
