export * from './${entity}.model';
export * from './${entity}.service';
export { ${ENTITY}ListComponent } from './${entity}-list.component';
export { ${ENTITY}TableComponent } from './${entity}-table.component';
export { ${ENTITY}FormComponent } from './${entity}-form.component';
export { ${ENTITY}PageComponent } from './${entity}-page.component';
